NODE_ENV=development
PORT=3069

# Generate a long random value for this.
SESSION_SECRET=replace-this-with-a-long-random-secret

# Google
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxx

# Local development
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Exact emails allowed to access this tool.
# Comma separated, case-insensitive.
ALLOWED_EMAILS=you@example.com,colleague@example.com

# WooCommerce
WC_STORE_URL=https://yourstore.com
WC_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WC_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WC_CONCURRENCY=12 #Prefer 69 pulang... It's number of pages to pull concurrently. Bigger number = faster pull. Tapi 12 seems macam stable

# true = send WooCommerce credentials via query string.
# This is useful for your server if Authorization headers
# aren't reaching WooCommerce properly.
WC_QUERY_STRING_AUTH=true